*.retry
*.swp
*.pyc
.lintvenv
.lintvenv_python2.7
.lintvenv_python3
**/.?venv/
**/.?lintvenv*/
playbooks/roles/
runjenkins.yml


# Ignore IDE project files
*.iml
.idea/

# Ignore Visual Studio Code project files
.venv/
