*.retry
*.swp
*.pyc
.lintvenv
.venv/
playbooks/roles/geerlingguy.nginx/
playbooks/roles/jnv.unattended-upgrades/
playbooks/roles/willshersystems.sshd/
playbooks/roles/mongrelion.docker/
runjenkins.yml

# Ignore IDE project files
*.iml
.idea/
