ansible==2.3.2.0
apache-libcloud==1.5.0
appdirs==1.4.3
asn1crypto==0.22.0
Babel==2.4.0
backports.ssl-match-hostname==3.5.0.1
beautifulsoup4==4.6.1
cffi==1.10.0
click==6.7
cliff==2.12.0
cmd2==0.8.7
configparser==3.5.0
contextlib2==0.5.5
croniter==0.3.20
cryptography==2.3.1
debtcollector==1.13.0
decorator==4.3.0
defusedxml==0.5.0
deprecation==2.0.2
dogpile.cache==0.6.5
enum34==1.1.6
extras==1.0.0
fixtures==3.0.0
flake8==3.4.1
funcsigs==1.0.2
functools32==3.2.3.post2
futures==3.2.0
gitdb2==2.0.2
github3.py==0.9.6
GitPython==2.1.5
idna==2.5
influxdb==4.1.1
ipaddress==1.0.18
iso8601==0.1.11
jenkinsapi==0.3.3
jenkins-job-builder==2.0.0.0b2
Jinja2==2.9.6
jira==1.0.10
jmespath==0.9.3
jsonpatch==1.23
jsonpointer==2.0
jsonschema==2.6.0
keystoneauth1==3.2.0
linecache2==1.0.0
MarkupSafe==1.0
mccabe==0.6.1
monotonic==1.3
msgpack-python==0.4.8
multi-key-dict==2.0.3
munch==2.3.2
netaddr==0.7.19
netifaces==0.10.5
nose==1.3.7
oauthlib==2.0.3
openstacksdk==0.9.19
ordereddict==1.1
osc-lib==1.10.0
os-client-config==1.30.0
oslo.config==3.24.0
oslo.i18n==3.15.0
oslo.serialization==2.18.0
oslo.utils==3.25.0
packaging==16.8
paramiko==2.1.2
pbr==1.10.0
pip==9.0.1
pluggy==0.6.0
positional==1.1.1
prettytable==0.7.2
py==1.5.3
pyasn1==0.2.3
pycodestyle==2.3.1
pycparser==2.17
pycrypto==2.6.1
pyflakes==1.5.0
pyparsing==2.2.0
pyperclip==1.6.1
python-dateutil==2.6.0
python-ironicclient==2.3.0
python-jenkins==0.4.14
python-keystoneclient==3.10.0
python-mimeparse==1.6.0
python-novaclient==2.27.0
python-subunit==1.2.0
python-swiftclient==3.4.0
pytz==2017.2
PyYAML==3.12
rackspaceauth==0.5.0
rackspace-monitoring==0.8.0
rackspace-monitoring-cli==0.7.2
requests==2.10.0
requestsexceptions==1.4.0
requests-oauthlib==0.8.0
requests-toolbelt==0.8.0
rfc3986==0.4.1
setuptools==33.1.1
sh==1.12.14
shade==1.24.0
simplejson==3.10.0
six==1.10.0
smmap2==2.0.3
stevedore==1.19.1
subprocess32==3.5.1
testtools==2.3.0
tox==2.8.2
traceback2==1.4.0
unicodecsv==0.14.1
unittest2==1.1.0
uritemplate==3.0.0
uritemplate.py==3.0.2
urllib3==1.18.1
virtualenv==16.0.0
wcwidth==0.1.7
wheel==0.30.0
wrapt==1.10.10
