ansible
appdirs
click
github3.py
gitpython
influxdb
jenkins-job-builder
jenkinsapi
jira
jmespath
openstacksdk
packaging
python-dateutil
python-novaclient
python-swiftclient
python-subunit
pytz
PyYAML
rackspace_monitoring
rackspace_monitoring_cli
rackspaceauth
shade
six
urllib3
