ansible
appdirs
click
croniter
github3.py
gitpython
influxdb
jenkins-job-builder
jenkinsapi
jira
jmespath
openstacksdk
packaging
python-dateutil
python-novaclient
python-swiftclient
python-subunit
pytz
PyYAML
rackspace-monitoring
rackspace-monitoring-cli
rackspaceauth
shade
six
urllib3
