{
  backends: [ "./backends/console", "./backends/graphite" ],
  address: "{{ ansible_facts.default_ipv4['address'] }}",
  address_ipv6: false,
  port: 8125,
  graphiteHost: "graphite.re.rpc.rackspace.com"
}
