<html>
<body>
<a href="{{ public_container.container_urls.ssl_url }}/{{ archive_name }}">{{ archive_name }}</a>
<div style="white-space: pre">
{{ artifact_description | default("") }}
</div>
</body>
</html>
