<p><strong>Releases</strong></p>
<table class="wrapped">
<colgroup><col /><col /><col /><col /></colgroup>
<tbody>
<tr><th>Version</th><th>Date</th><th>Release Notes</th><th>Comments</th></tr>
{% for row in rows %}
<tr><td>{{ row.version }}</td><td>{{ row.date }}</td><td>{{ row.release_notes | urlize }}</td><td>{{ row.comments | urlize}}</td></tr>
{% endfor %}
</tbody>
</table>
<p class="auto-cursor-target"><br /></p>
